.answers {
  width: var(--container);
  margin: 0 auto;
  padding-bottom: 96px;
  padding-top: 92px;

  @media (min-width: 1408px) {
    padding-bottom: 120px;
    max-width: var(--desktop);
  }
}

.headerText {
  text-transform: uppercase;
  margin-bottom: 2px;
  color: var(--main_color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.26;
}

.header {
  font-size: var(--fs_xlarge);
  font-weight: 600;
  line-height: 1.26;
  color: var(--second_text_color);
  margin-bottom: 48px;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 60px;
    line-height: 1.25;
    text-align: center;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 80px;
  }

  @media (min-width: 1408px) {
    font-size: var(--fs_xxxlarge);
  }
}

.list {
  & li {
    padding-bottom: 24px;
    margin-bottom: 32px;
    position: relative;
    border-bottom: 1px solid #dee7ee;

    & p {
      font-weight: 500;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 16px;
    & li {
      max-width: calc(50% - 8px);
      flex: 0 auto;
      margin-bottom: 0px;
      padding-bottom: 48px;
    }
  }
}

.head_wrap {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;

  & h3 {
    font-size: var(--fs_large);
    font-weight: 600;
    line-height: 1.4;
    color: var(--second_text_color);
  }
}

.ico_wrap {
  flex-shrink: 0;
  background-color: #ebf6ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }

  @media (min-width: 1024px) {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }
}
