:root {
  --font_mons: 'Montserrat', sans-serif;
  --font_wix: 'Wix Madefor Display', serif;

  --background: #F2F4F7;
  --foreground: #FAFAFA;
  --main_color: #008AFF;
  --main_text_color: #586270;
  --second_text_color: #222D39;

  --fs_small: 14px;
  --fs_xsmall: 16px;
  --fs_medium: 18px;
  --fs_large: 24px;
  --fs_xlarge: 32px;
  --fs_mxlarge: 40px;
  --fs_xxlarge: 64px;
  --fs_xxxlarge: 72px;

  --mobile: 328px;
  --mobile_l: 360px;
  --mobile_xl: 475px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1328px;

  --container: 91.1%;
  --container_mob: 85%;
}