.team {
  width: 100%;
  padding: 60px 0;
  background-color: var(--background);

  @media (min-width: 1024px) {
    padding: 80px 0;
  }
}

.container {
  width: var(--container);
  margin: 0 auto;

  @media (min-width: 1408px) {
    max-width: var(--desktop);
  }
}

.header_text {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: var(--main_color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.26;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    font-weight: 400;
    margin-bottom: 8px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_medium);
  }
}

.header {
  font-size: var(--fs_xlarge);
  font-weight: 600;
  line-height: 1.26;
  color: var(--second_text_color);
  margin-bottom: 48px;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 60px;
    max-width: 1130px;
  }

  @media (min-width: 1328px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 80px;
  }
}

.main_wrap {
  @media (min-width: 1024px) {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.first_wrap {
  @media (min-width: 1024px) {
    width: calc(50% - 16px);
  }
}

.top_text {
  font-weight: 500;
  color: var(--second_text_color);
  margin-bottom: 24px;

  & span {
    font-weight: 700;
  }

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    margin-bottom: 40px;
  }
}

.list {
  margin-bottom: 24px;

  & li {
    margin-bottom: 16px;
    display: flex;
    gap: 12px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
      gap: 16px;
      align-items: center;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.list_header {
  font-size: var(--fs_small);
  line-height: 1.5;
  font-weight: 600;
  color: var(--second_text_color);
  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }
}

.circle {
  margin-top: 3px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #008aff33;

  & span {
    width: 10px;
    height: 10px;
    background-color: var(--main_color);
    border-radius: 50%;
  }
  @media (min-width: 768px) {
    margin: 0;
    width: 20px;
    height: 20px;

    & span {
      width: 12px;
      height: 12px;
    }
  }
}

.par_wrap {
  margin: 0 auto;
  max-width: var(--mobile_xl);
  padding: 125px 24px 24px;
  border-radius: 16px;
  background-color: var(--foreground);
  background-image: url('../../img/team/fire.webp');
  background-size: 160px 115px;
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 32px;

  @media (min-width: 768px) {
    max-width: 630px;
  }

  @media (min-width: 1024px) {
    max-width: none;
    margin: 0;
    padding: 35.5px 263px 35.5px 32px;
    border-radius: 24px;
    background-size: 254px 181px;
    background-position: center right;
  }
}

.par_text {
  font-size: var(--fs_xsmall);
  font-weight: 500;
  color: var(--second_text_color);

  @media (min-width: 768px) {
    font-size: var(--fs_medium);
  }
}

.second_wrap {
  margin: 0 auto;
  max-width: var(--mobile_xl);
  padding: 197px 32px 32px;
  background-image: url('../../img/team/back.webp'),
    url('../../img/team/backBlock.webp');
  background-size: 197px 197px, 100% 100%;
  background-repeat: no-repeat;
  background-position: top left, center center;
  background-color: var(--main_color);
  border-radius: 24px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    max-width: 630px;
  }

  @media (min-width: 1024px) {
    max-width: none;
    margin: 0;
    width: calc(50% - 16px);
    padding: 40px;
    background-size: 265px 265px, 100% 100%;
    background-position: top 5px left, center center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.block_text_first {
  color: var(--foreground);
  font-weight: 500;
  margin-bottom: 16px;

  & span {
    font-weight: 700;
  }

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }
}

.block_text_second {
  padding: 8px 16px;
  background-color: #ebf6ffe5;
  border: 1px solid #ebf6ff;
  color: var(--main_color);
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 1.3;
  border-radius: 8px;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    line-height: 1.5;
    text-align: center;
    border-radius: 16px;
  }
}

.block_text_third {
  color: var(--foreground);
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
  }
}

.bottom_wrap {
  padding: 24px 32px;
  border-radius: 24px;
  border: 1px solid #008aff;
}

.bottom_text {
  font-size: var(--fs_xsmall);
  font-weight: 500;
  color: var(--second_text_color);
  @media (min-width: 768px) {
    font-size: var(--fs_medium);
  }
}
