.feedback {
  width: 100%;
  padding-bottom: 96px;
  padding-top: 60px;
  background-color: var(--background);

  @media (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 156px;
  }
}

.container {
  width: var(--container);
  margin: 0 auto;
  position: relative;

  @media (min-width: 1408px) {
    max-width: var(--desktop);
  }
}

.header_text {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: var(--main_color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.26;

  @media (min-width: 768px) {
    font-size: var(--fs_xsmall);
    font-weight: 400;
    margin-bottom: 8px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_medium);
  }
}

.header {
  font-size: var(--fs_xlarge);
  font-weight: 600;
  line-height: 1.26;
  color: var(--second_text_color);
  margin-bottom: 48px;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 60px;
    max-width: 1000px;
  }

  @media (min-width: 1328px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 80px;
  }
}

.gallery_slider {
  width: 217px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 637px;
  }

  @media (min-width: 1024px) {
    width: 937px;
  }
}

.slider_image {
  width: 217px;
  height: 468px;
  cursor: pointer;

  @media (min-width: 768px) {
    width: 291px;
    height: 630px;
  }
}

.prev,
.next {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--main_color);
  position: absolute;
  bottom: 216px;
  z-index: 10;
  color: var(--foreground);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;

  & svg {
    fill: var(--foreground);
  }

  &:hover {
    box-shadow: 0px 0px 5px 5px #008aff4d;
  }
  @media (min-width: 768px) {
    bottom: 285px;
  }

  @media (min-width: 1200px) {
    width: 56px;
    height: 56px;
    bottom: 29%;

    & svg {
      width: 32px;
      height: 32px;
    }
  }
}

.prev {
  left: 0;
  transform: rotate(180deg);

  @media (min-width: 768px) {
    left: -22px;
  }

  @media (min-width: 1024px) {
    left: -34px;
  }

  @media (min-width: 1200px) {
    left: 0;
  }
  @media (min-width: 1328px) {
    left: 84px;
  }
}

.next {
  right: 0;
  @media (min-width: 768px) {
    right: -22px;
  }
  @media (min-width: 1024px) {
    right: -34px;
  }

  @media (min-width: 1200px) {
    right: 0;
  }

  @media (min-width: 1328px) {
    right: 84px;
  }
}

.prev:hover,
.next:hover {
  color: var(--second-color-alfa);
}

.pagination {
  position: absolute;
  left: 50% !important;
  transform: translateX(-50%);
  width: 220px !important;

  @media (min-width: 768px) {
    width: 288px !important;
  }
}
