.footer {
  width: 100%;
  padding-bottom: 96px;
  padding-top: 160px;
  background: linear-gradient(
    165deg,
    var(--foreground) 11%,
    var(--second_text_color) 11%
  );

  @media (min-width: 768px) {
    position: relative;
    padding-top: 140px;
  }

  @media (min-width: 1024px) {
    padding-top: 190px;
    max-width: var(--desktop);
    padding-bottom: 120px;
  }
}

.container {
  width: var(--container);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .menu_wrap {
    display: flex;
    gap: 122px;
  }

  .second_wrap {
    display: flex;
    gap: 34px;
  }
}

@media (min-width: 1024px) {
  .wrap {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.logo_wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }

  & span {
    color: var(--foreground);
    font-weight: 600;
    line-height: 1.26;
    font-size: var(--fs_xsmall);
  }

  @media (min-width: 768px) {
    margin: 0;
    align-self: flex-start;

    & svg {
      width: 68px;
      height: 56px;
    }

    & span {
      font-size: var(--fs_large);
      line-height: 29.26px;
    }
  }
}

.menu {
  font-weight: 600;
  font-size: var(--fs_xsmall);
  line-height: 1.26;
  color: var(--foreground);
  margin-bottom: 24px;
}

.nav {
  margin-bottom: 40px;

  & li {
    margin-bottom: 15px;

    & a {
      font-family: var(--font_mons);
      font-size: var(--fs_xsmall);
      font-weight: 400;
      line-height: 1.26;
      color: var(--foreground);
    }

    &:last-child {
      margin-bottom: 0;
    }

    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 2px 5px #1c16631a)
        drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
        drop-shadow(0px 37px 15px #1c166303)
        drop-shadow(0px 57px 16px #1c166300);
      transform: scale(1.05);
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 0;

    & li {
      margin-bottom: 16px;
      height: 19px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.social {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;
  height: 32px;

  & li {
    height: 32px;

    & a {
      height: 32px;

      & svg {
        fill: #adb7c2;
        transition: fill 0.3s ease;
        width: 32px;
        height: 32px;
      }

      & svg:hover {
        fill: #f5f6fa;
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.lang_wrap {
  margin-bottom: 34px;
}

.policy_wrap {
  padding-top: 16px;
  border-top: 1px solid #adb7c2;

  & a {
    font-family: var(--font_mons);
    font-weight: 500;
    line-height: 1.22;
    font-size: var(--fs_xsmall);
    color: #adb7c2;

    transition: color 0.3s ease;

    &:hover {
      color: var(--foreground);
    }
  }

  @media (min-width: 768px) {
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.button_wrap {
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 240px !important;
  }
}

.social_desk {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 32px;

  & li {
    height: 32px;

    & a {
      height: 32px;

      & svg {
        fill: #858d9f;
        transition: fill 0.3s ease;
        width: 32px;
        height: 32px;
      }

      & svg:hover {
        fill: var(--foreground);
      }
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}
